.center {
    text-align: center;
}
body {
    background-color: rgb(223, 60, 54);
    margin-left: 5%
}
.title {
    font-family: 'Monoton', cursive !important;
    font-size: 6rem;
    font-weight: 200;
    color: rgb(7, 7, 7);
}
.no-wrap {
	word-break: unset;
	word-wrap: unset;
	overflow-wrap: unset;
	-webkit-hyphens: unset;
	-moz-hyphens: unset;
	-ms-hyphens: unset;
	hyphens: unset;
}
.subtitle {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(7, 7, 7);
    margin: 0;
}
.cornertitle {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(7, 7, 7);
    margin: 0;
}
.list {
    text-decoration: none;
}
#list-element {
    list-style-type:none;
    font-size: 3rem;
    font-weight: 100;
    color: rgb(12, 12, 12);
    margin-top: 0.05em;
}
* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(211, 211, 211);
}
#win {
    position: absolute;
    top: 16rem;
    width: 100%;
    color: rgb(236, 236, 233);
    display: none;
    z-index: 1002;
}
#winBk {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    cursor: pointer;
}
input {
   border-radius: 1rem;
   width: 27rem;
   height: 3rem;
   text-align: center;
   font-size: 2rem;
   border: 1px solid rgb(155, 232, 255);
}
button, input {
    outline: none;
    color: rgb(20, 20, 20) !important;
}
button {
    background-color: rgb(223, 60, 54);
}
.creategame {
    transition: background-color 0.4s;
    padding: 2.4rem 6rem;
    border-radius: 7px;
    font-size: 3rem;
    text-decoration: none;
    border: 4px solid #9e0020;/*rgb(255, 255, 107);*/
}
.creategame:hover {
    transition: 0.4s;
    background-color: #9e0020; /*rgb(255, 255, 65);*/
}
.creategame:active {
    transition: 0.4s;
    border: none;
    background-color: #9e0020;/*rgb(61, 223, 46);*/
    outline:none;
}
.joingame {
    transition: background-color 0.4s;
    padding: 2.4rem 7rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    font-size: 3rem;
    text-decoration: none;
    border: 4px solid #9e0020;/*rgb(107, 196, 255);*/
}
.joingame:hover {
    transition: 0.4s;
    background-color: #9e0020;/*rgb(91, 190, 255);*/
}
.joingame:active {
    transition: 0.4s;
    border: none;
    background-color: #9e0020;/*rgb(93, 46, 223);*/
    outline:none;
}
.label {
    font-size: 3rem;
    color: rgb(31, 31, 31);
}
.hidden {
    display: none;
}
.box {
 border: 3px solid black ;
 width: 50%;
 margin: auto;
}